<div class="home">
    <div class="search-box">
        <h1 class="title-market">Marketplace untuk Open Trip di Indonesia</h1>
        <div class="search-area">
            <div class="row">
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-addon input-addon-custom" id="basic-addon1">Cari</span>
                        <input type="text" class="form-control form-custom form-custom-1" placeholder="Cari Kota" aria-describedby="basic-addon1">
                        <span class="input-group-addon input-addon-custom-transparent" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input type="text" class="form-control form-custom form-custom-2" aria-describedby="basic-addon1">
                        <span class="input-group-addon input-addon-custom-transparent-2" id="basic-addon1"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group range-price">
                        <span class="input-group-addon input-addon-custom input-addon-custom-2" id="basic-addon1">Harga</span>
                        <!-- <input type="text" class="form-control form-custom" placeholder="Cari Harga" aria-describedby="basic-addon1"> -->
                        <rzslider rz-slider-model="priceSlider"></rzslider>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 no-padding-right">
                <div style="background:url('img/bg-inline.jpg'); background: url(img/bg-inline.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; width: 100%; height: 283px;"></div>
            </div>
            <div class="col-md-6 no-padding-left">
                <div class="content-area">
                    <h1 class="content-title">Weekend Holiday - Karimun Jawa 2D 1N</h1>
                    <h3 class="company-title">Sanjaya Ria Travel</h3>
                    <div class="containers">
                        <input type="radio" name="example" class="rating" value="1" />
                        <input type="radio" name="example" class="rating" value="2" />
                        <input type="radio" name="example" class="rating" value="3" />
                        <input type="radio" name="example" class="rating" value="4" />
                        <input type="radio" name="example" class="rating" value="5" />
                    </div>
                    <p class="content-description">One day tour to Governor’s Historical Site in The Heart of Jakarta, the tour includes sight seeing to places surrounding the Old Batavia Governmental Sites, the place once rules all of Indonesia.</p>
                    <h1 class="price-tag">Rp. 1.500.000</h1>
                    <button type="submit" class="btn btn-default btn-float-right">Detail</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 no-padding-right">
            <div style="background:url('img/bg-inline.jpg'); background: url(img/bg-inline.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; width: 100%; height: 283px;"></div>
        </div>
        <div class="col-md-6 no-padding-left">
            <div class="content-area">
                <h1 class="content-title">Weekend Holiday - Karimun Jawa 2D 1N</h1>
                <h3 class="company-title">Sanjaya Ria Travel</h3>
                <div class="containers">
                    <input type="radio" name="example" class="rating" value="1" />
                    <input type="radio" name="example" class="rating" value="2" />
                    <input type="radio" name="example" class="rating" value="3" />
                    <input type="radio" name="example" class="rating" value="4" />
                    <input type="radio" name="example" class="rating" value="5" />
                </div>
                <p class="content-description">One day tour to Governor’s Historical Site in The Heart of Jakarta, the tour includes sight seeing to places surrounding the Old Batavia Governmental Sites, the place once rules all of Indonesia.</p>
                <h1 class="price-tag">Rp. 1.500.000</h1>
                <button type="submit" class="btn btn-default btn-float-right">Detail</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 no-padding-right">
            <div style="background:url('img/bg-inline.jpg'); background: url(img/bg-inline.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; width: 100%; height: 283px;"></div>
        </div>
        <div class="col-md-6 no-padding-left">
            <div class="content-area">
                <h1 class="content-title">Weekend Holiday - Karimun Jawa 2D 1N</h1>
                <h3 class="company-title">Sanjaya Ria Travel</h3>
                <div class="containers">
                    <input type="radio" name="example" class="rating" value="1" />
                    <input type="radio" name="example" class="rating" value="2" />
                    <input type="radio" name="example" class="rating" value="3" />
                    <input type="radio" name="example" class="rating" value="4" />
                    <input type="radio" name="example" class="rating" value="5" />
                </div>
                <p class="content-description">One day tour to Governor’s Historical Site in The Heart of Jakarta, the tour includes sight seeing to places surrounding the Old Batavia Governmental Sites, the place once rules all of Indonesia.</p>
                <h1 class="price-tag">Rp. 1.500.000</h1>
                <button type="submit" class="btn btn-default btn-float-right">Detail</button>
            </div>
        </div>
    </div>
</div>
