@font-face {
    font-family: Circular;
    src: url('../fonts/circular/lineto-circular-pro-book.ttf');
}

body {
    background: #f7f7f7;
    font-family: Circular;
}


/* Clear Floated Elements
---------------------------------*/

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

.w-100 {
    width: 100%;
}


/* Custom Form */

.custom-form .title {
    margin-top: 0;
    margin-bottom: 58px;
    color: #484a60;
    font-size: 35.6px;
    font-family: Circular
}

.custom-form .input-group label {
    font-size: 20.3px;
    font-weight: 500;
    color: #a9a9a9;
    margin-bottom: 20px
}

.custom-form .input-group input.form-control {
    height: 44px;
    margin-bottom: 31px
}


/* Navbar */

.navbar-transparent {
    background-color: transparent;
    border: none;
    margin: 70px 0;
}

.navbar-nav > li > a {
    font-family: Circular;
    font-weight: 500;
    text-align: center;
    color: #373737;
    font-size: 15px;
}

.btn-sign-up {
    width: 138px;
    height: 36px;
    border-radius: 18px;
    border: solid 3px #373737;
    background-color: transparent;
    font-family: Circular;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2.8px;
    text-align: center;
    color: #373737;
    text-transform: uppercase;
}


/* Search */

.search-box {
    width: 100%;
}

.title-market {
    font-family: Circular;
    font-size: 39.9px;
    text-align: left;
    color: #373434;
}

.search-area {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 86px;
}

.input-addon-custom {
    background-color: #484a60;
    height: 54px;
    color: #fff;
    padding: 0 30px;
    font-family: Circular;
    font-size: 15.1px;
    font-weight: bold;
}

.input-addon-custom-2 {
    padding: 0 10px;
}

.input-addon-custom-transparent {
    background-color: #fff !important;
    border-left: none;
    border-right: none;
    color: #484a60;
}

.input-addon-custom-transparent-2 {
    background-color: #fff !important;
    border-left: none;
    color: #484a60;
}

.form-custom {
    height: 54px;
    width: 100%;
}

.form-custom-1 {
    border-right: none;
}

.form-custom-2 {
    border-left: none;
    border-right: none;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}


/* content */

.img-inline {
    height: 100%;
    width: 100%;
}

.content-area {
    height: 284px;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px 0 rgba(1, 2, 2, 0.07);
    margin-bottom: 19px;
    padding: 41px;
}

.content-title {
    font-family: Circular;
    font-size: 25.4px;
    font-weight: 500;
    text-align: left;
    color: #484a60;
    margin: 0;
}

.company-title {
    font-family: Circular;
    font-size: 20px;
    text-align: left;
    color: #a9a9a9;
    margin-top: 7px;
    margin-bottom: 0;
    font-weight: normal;
}

.containers {
    margin: 14px 0;
}

.content-description {
    font-family: Circular;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    color: #7a7a7a;
    margin: 0;
}

.price-tag {
    font-family: Circular;
    font-size: 33.2px;
    font-weight: bold;
    text-align: left;
    color: #fbab00;
    margin-bottom: 0;
    width: 218px;
    height: 31px;
    float: left;
}

.btn-float-right {
    float: right;
    margin-top: 20px;
    width: 156px;
    height: 41px;
    border-radius: 20.5px;
    background-color: transparent;
    border: solid 3px #fbab00;
    font-family: Circular;
    font-size: 13.8px;
    font-weight: 500;
    color: #fbab00;
    text-transform: uppercase;
    letter-spacing: 2.8px;
}


/* Button */

.btn-success {
    background-color: #209f3b!important;
    border-color: #209f3b!important;
    width: 156px;
    height: 41px;
    border-radius: 20.5px;
}


/* Home Page */

.home .range-price {
    background-color: #fff
}


/* Login Page */

.login-wrapper {
    width: 632px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 60px 70px;
}

.login-wrapper .remember-password {
    margin-bottom: 31px;
}

.login-wrapper .remember-password span {
    font-size: 15.1px;
    color: #a9a9a9;
}

.login-wrapper .remember-password input[type=checkbox] {
    margin-right: 14px
}


/* Open Trip Page */

.create-open-trip {
    background-color: #fff;
    padding: 59px 65px;
}

.create-open-trip-title {
    font-size: 35.6px;
    color: #484a60;
}


/* Text Editor */

trix-toolbar {
    border: solid 1px #c1c1c1;
    border-bottom: 0;
    padding: 31px 37px 0 37px;
}

trix-toolbar .trix-button-row {
    border-bottom: 1px solid #c1c1c1;
}

trix-toolbar .trix-button-group {
    margin-bottom: 19px!important;
    border: 0!important;
}

trix-toolbar .trix-button {
    border: 0!important;
    color: #484a60!important;
}

trix-editor {
    padding: 19px 37px 0 37px!important;
    min-height: 133px!important;
    border-top: 0!important;
    border-radius: 0!important;
    border-color: #c1c1c1!important;
    margin-bottom: 31px!important;
}


/* Dropzone */

.dropzone.dz-clickable {
    margin-bottom: 31px;
    border: 2px dashed #c1c1c1;
}
