<div class="login">
    <div class="login-wrapper custom-form">
        <form ng-submit = "login()" name="loginForm">
            <h3 class="title">
                Log In
            </h3>
            <div ng-if="msg" ng-class="isError ? 'alert alert-danger' : 'alert alert-success'">
                {{ msg }}
            </div>
            <div class="input-group w-100">
                <label>Username</label>
                <div ng-if="loginForm.username.$invalid && loginForm.username.$touched" class="text-danger">
                        Username cannot be empty
                </div>                                        
                <input type="text" required name="username" placeholder="Type Username" class="form-control form-custom" ng-model="auth.username">                
            </div>
            <div class="input-group  w-100">
                <label>Password</label>
                <div ng-if="loginForm.password.$invalid && loginForm.password.$touched" class="text-danger">
                    Password cannot be empty
                </div>                    
                <input type="password" required name="password" placeholder="Type Password" class="form-control form-custom" ng-model="auth.password">                                
            </div>
            <div class="row remember-password">
              <div class="col-xs-6">
                <input type="checkbox"><span>Remember Password</span>
              </div>
              <div class="col-xs-6 text-right">
                <span>Forgot Password?</span>
              </div>
              <div class="col-xs-6">
                
              </div>
            </div>
            <button class="btn btn-success" ng-disabled="!loginForm.$valid" ng-click="login()">
                <span ng-if="!loaderService.status('login')">LOGIN</span>                
                <span ng-if="loaderService.status('login')">Loading....</span>
            </button>
        </form>
    </div>
</div>
